<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>
    <link rel="stylesheet" href="/css/cart.css" />
    <link rel="icon" href="/images/Logo Coffuel xanh.png" />
  </head>
  <body>
    <input type="hidden" id="mode" value="<%= mode %>" />
    <div class="navbar">
      <div class="navbar_item">Mua vật phẩm</div>
      <div class="navbar_item">Bán vật phẩm</div>
    </div>
    <button id="back_button"><span>BACK HOME</span></button>
    <table>
      <tr>
        <th class="user_name">Họ và tên</th>
        <th class="user_address">Địa chỉ</th>
        <th class="user_product">Sản phẩm</th>
        <th class="user_quantity">Số lượng</th>
        <th class="user_tel">Số điện thoại</th>
        <th class="user_state">Trạng thái</th>
      </tr>
      <% for(let i = 0; i < list.length; i++) { %>
      <tr>
        <td><%= list[i].user_fullname %></td>
        <td><%= list[i].user_address %></td>
        <td><%= list[i].user_product %></td>
        <td><%= list[i].user_quantity %></td>
        <td><%= list[i].user_tel %></td>
        <td><%= list[i].user_state %></td>
      </tr>
      <% } %>
    </table>
    <script src="/javascript/cart.js"></script>
  </body>
</html>
