<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Base</title>
    <link rel="stylesheet" href="/css/read_database.css" />
    <link rel="icon" href="/images/Logo Coffuel xanh.png" />
  </head>
  <body>
    <div class="header">
      <div id="Users" class="header_item">Người dùng</div>
      <div id="Products" class="header_item">Đơn đặt</div>
      <div id="Cooperates" class="header_item">Đơn bán</div>
    </div>
    <div class="banner">
      <form action="/admin/create_database" method="get">
        <button class="button_add">Add User</button>
      </form>
      <table id="table_users">
        <tr>
          <th class="id">ID</th>
          <th class="user_name">User_name</th>
          <th class="user_password">User_password</th>
          <th class="user_email">User_email</th>
          <th class="user_tel">User_tel</th>
          <th class="actions">Actions</th>
        </tr>
        <% for(let i = 0; i < list_users.length; i++) { %>
        <tr>
          <td><%= list_users[i].id %></td>
          <td><%= list_users[i].user_name %></td>
          <td><%= list_users[i].user_password %></td>
          <td><%= list_users[i].user_email %></td>
          <td><%= list_users[i].user_tel %></td>
          <td style="text-align: center">
            <form
              action="/admin/update_database/<%=list_users[i].id%>"
              method="get
              "
            >
              <button>Edit</button>
            </form>
            <form
              action="/admin/delete_database/<%=list_users[i].id%>"
              method="get"
            >
              <button>Delete</button>
            </form>
          </td>
        </tr>
        <% } %>
      </table>
    </div>
    <script type="module" src="/javascript/read_database.js"></script>
  </body>
</html>
