<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Base</title>
    <link rel="stylesheet" href="/css/update_database.css " />
    <link rel="icon" href="/images/Logo Coffuel xanh.png" />
  </head>
  <body>
    <h3>Dữ liệu cũ:</h3>
    <table>
      <tr>
        <th class="id">ID</th>
        <th class="user_name">User_name</th>
        <th class="user_password">User_password</th>
        <th class="user_email">User_email</th>
        <th class="user_tel">User_tel</th>
      </tr>
      <tr>
        <td><%= user[0].id %></td>
        <td><%= user[0].user_name %></td>
        <td><%= user[0].user_password %></td>
        <td><%= user[0].user_email %></td>
        <td><%= user[0].user_tel %></td>
      </tr>
    </table>
    <fieldset>
      <legend>Update account</legend>
      <form method="post" action="/admin/update_database">
        <div class="input_item">
          <input type="hidden" name="user_id" value="<%= user[0].id %>" />
        </div>
        <div class="input_item">
          <label for="user_name">Tài khoản: </label>
          <input type="text" name="user_name" />
        </div>
        <div class="input_item">
          <label for="user_password">Mật khẩu: </label>
          <input type="text" name="user_password" />
        </div>
        <div class="input_item">
          <label for="user_email">Email: </label>
          <input type="email" name="user_email" />
        </div>
        <div class="input_item">
          <label for="user_tel">Số điện thoại: </label>
          <input type="tel" name="user_tel" />
        </div>
        <button class="button_update">Update</button>
      </form>
    </fieldset>
  </body>
</html>
